@page
@model AktivStyringRazor.Pages.Ensembler.EnsemblerModel
@{
    ViewData["Title"] = "Ensembler";
}
<p>
    <a asp-page="Ensembler/Create">Create new Ensemble</a>
</p>


<form>
    <p class="SeaBar">
        Search: <input type="text"/>
        <input type="submit" value="Filter" />
    </p>
</form>

<h4 class="LisTNvn" style="color: cadetblue">List of Ensembler</h4>

<table>
    <thead class="LisTHeader">
    <tr class="THeaderTRLis">
        <th class="THKolLisNvn">
            EnsembleID
        </th>
        <th class="THKolLisNvn">
            Navn
        </th>
        <th class="THKolLisNvn">
            Noter
        </th>
    </tr>
    </thead>
    <tbody class="LisTBodyRow">
    @if(Model.Ensembler.Count() !=0)
            {
                @foreach (var item in Model.Ensembler)
                {
                    <tr class="TBodyTRowLisItem">
                        <td class="TBKolLisItem">@item.EnsembleID</td>
                        <td class="TBKolLisItem">@item.Navn</td>
                        <td class="TBKolLisItem">@item.Noter</td>
                    </tr>
                }
            }
    </tbody>
</table>