@page
@model AktivStyringRazor.Pages.Placeringer.PlaceringerModel
@{
    ViewData["Title"] = "Placeringer";
}

<p>
    <a asp-page="Placeringer/Create">Create New Placering</a>
</p>

<form>
    <p class="SeaBar">
        Search: <input type="text" />
        <input type="submit" value="Filter"/>
    </p>
</form>

<h4 class="LisTNvn" style="color:black"> List of Placeringer</h4>

<table class="table">
    <thead class="LisTHeader">
    <tr class="THeaderTRLis">
        <th class="THKolLisNvn">
            PlaceringID
        </th>
        <th class="THKolLisNvn">
            Placering
        </th>
        <th class="THKolLisNvn">
            PlaceringSort
        </th>

    </tr>
    </thead>
    <tbody class="LisTBodyRow">
    @if (Model.Placeringer.Count() != 0)
    {
        @foreach (var item in Model.Placeringer)
        {
            <tr class="TBodyTRowLisItem">
                <td class="TBKolLisItem">
                    @item.PlaceringID
                </td>
                <td class="TBKolLisItem">
                    @item.Placering
                </td>
                <td class="TBKolLisItem">
                    @item.PlaceringSort
                </td>
                <td class="TBKolLisItem">
                    <p class="TBKolLisDelItem">
                        <a asp-page="/Placeringer/Delete" asp-route-id="@item.PlaceringID">Delete</a>
                    </p>
                </td>
            </tr>
        }
    }
    </tbody>
</table>