
@{
    Layout = "_Layout";
}
<nav class="main-menu">
    <ul>
        <li>

        </li>
    </ul>
</nav>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
