@page
@model AktivStyringRazor.Pages.Persons.CreateModel
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <label asp-for="Person.Navn"></label> <input type="text" asp-for="Person.Navn" /><br>
    <label asp-for="Person.Adresse"></label> <input type="text" asp-for="Person.Adresse" /><br>
    <label asp-for="Person.Email"></label> <input type="text" asp-for="Person.Email" /><br>
    <label asp-for="Person.Telefon"></label> <input asp-for="Person.Telefon" /><br>
    <label asp-for="Person.MedlemsNr"></label> <input asp-for="Person.MedlemsNr" /><br>
    <input type="submit" value="Create" />
</form>